@media(max-width:1420px) {
    /* banner section */
    .banner{
        padding:120px 150px;   
    }
    .banner-content h1{
        font-size:110px;
        line-height:120px;
    }
    .banner-content p{
        font-size:28px;
    }
    .banner-content a {
        font-size: 20px;
    }

    /* section-card */
    .service {
        padding: 120px 0px;
    }

    /* Portfolio  */
    .portfolio-section {
        padding:120px 40px;  
    }
    .pi-img{
        width:30%;
    }

    /*  Customer Testimonials */
    .customer-testimonials{
        padding:90px 52px;
    }

    /* talking */
    .talking {
        padding: 120px 70px;
    }

    /* Contact */
    .contact{
        padding:120px 0px ;
    }

      /* iframe */
    .map iframe {
        width:100%;
    }

}
@media(max-width:1280px){

    /* banner section */
    .banner{
        padding:100px 80px;    
    }
    .banner-content h1{
        font-size:80px;
        line-height:90px;
    }
    .banner-content p{
        font-size:24px;
    }
    .banner-content a {
        font-size: 20px;
    }

    /* card section */
    .service {
        padding: 100px 80px;
    }
    .service-card {
        width: 45%;
        margin-bottom: 30px;
    }
    .service-card-header {
        font-size: 28px;
    }
    .serivce-card-paragraph {
        font-size: 18px;
    }

    /* about-us */
    .about {
        padding: 75px 100px;
    }
    .image1 {
        width: 50%;
    }
    .about-us-text {
        width: 50%;
    }
    .about-us {
        font-size:48px;
    }
    .about-us-text .contain {
        font-size: 18px;
    }

    /* ideas & plans */
    .professionals {
        padding: 100px 60px;
    }
    .professional-heading {
        font-size: 40px;
    }
    .professional-paragrph {
        font-size: 18px;
    }
    .profess-parts-icon {
        font-size: 60px;
    }
    .professional-images {
        width: 50%;
        padding-left: 30px;
    }

     /* fectures section */
     .section-features {
        padding: 80px 40px;
    }

    /* Portfolio  */
    .portfolio-section {
        padding: 100px 60px;
     }

     /* watch the video */
    .video-contain {
         padding: 100px 60px;
    }
    .video-img {
        width: 80%;
    }
    .videoes-images {
        width: 100%;
    }
    /*  Customer Testimonials */
    .customer-testimonials{
        padding:90px 52px;
    } 
    .customer-review-card {
        width: 30%;
        margin-bottom: 30px;
        height: auto;
    }

     /* talking */
     .talking {
        padding: 100px 90px;
    }
    .form-section {
        width:50%;
        padding: 20px;
      }
    .talking-headers {
        font-size: 40px;
        text-align: center;
    }
    .talking-paragraph {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
    form input {
        padding: 16px;
        margin-bottom: 10px;
    }
    form button {
        width: 160px;
        padding: 24px;
    }
    .image-section {
        width:75%;
    }
    .image-section .talking-image {
        width: 75%;
        height: auto;
    }

    /* Contact */
    .contact{
        padding: 100px 80px;
    }
    .information-card {
        width: 45%;
        margin-bottom: 30px;
    }
    .contact-card-header {
        font-size: 28px;
    }
    .contact-card-paragraph{
        font-size: 18px;
    }

    /* iframe */
    .map iframe {
        width:100%;
    }

    /* footer */
    .footers {
        padding: 5px 80px; 
    }
    .footers-intro {
        font-size: 18px; 
        text-align: left; 
    }
    .footer-theme {
        font-size: 18px; 
    }
}

@media(max-width:768px){
    /* headers */
    header{
        padding:0px 30px;
    }
    header .container{
        padding:0px 0px;
    }
    header li{
        margin-left:5px;
     }
     .logo-text{
        padding:0px;
        font-size:20px; 
    }

    /* banner section */
    .banner{
        padding:80px 50px;
    }
    .banner-content h1{
        font-size:48px;
        line-height:60px;
    }
    .banner-content p{
        font-size:28px;
    }
    .banner-content a {
        font-size: 24px;
    }

    /* card section */
    .service {
        padding: 80px 50px;
    }
    .service-card {
        width: 100%;
        margin-bottom: 30px;
    }
    .service-card-header {
        font-size: 26px;
    }
    .serivce-card-paragraph {
        font-size: 18px;
    }

    /* about-us */
    .about {
        flex-direction: column;
        padding: 60px 40px;
      }
    .image1 {
        width: 100%;
        margin-bottom: 30px;
    }
    .about-us {
        font-size: 40px;
        text-align: center;
    }
    .about-us-text {
        width: 100%;
    }
    .about-us-text .contain {
        font-size: 18px;
    }

    /* ideas & plans */
    .professionals {
        padding: 80px 40px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .professional-heading {
        font-size: 36px;
    }
    .professional-paragrph {
        font-size: 18px;
    }
    .profess-parts-icon {
        font-size: 60px;
    }
    .professional-images {
        width: 100%;
        margin-top: 30px;
    }

    /* Portfolio  */
    .portfolio-section {
        padding: 80px 40px;
    }
    .portfolio-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .pi-img {
        width:100%;
        margin-bottom: 20px;
    }

      /*  Customer Testimonials */
    .customer-testimonials {
         padding: 70px 40px;
     }
    .customer-handing {
        font-size: 36px;
        text-align: center;
    }
    .customer-paragraph {
        font-size: 18px;
        text-align: center;
    }
     .customer-review-card {
        width: 100%;
        margin-bottom: 30px;
        height: auto;
    }
    .customer-name-handing {
        font-size: 24px;
        margin-top: 25px;
    }
    .review-star {
        font-size: 22px;
    }
    
    /* talking */
    .talking {
        padding: 80px 40px;
    }
    .form-section {
         width: 50%;
         padding: 15px;
    }
    .talking-headers {
         font-size: 36px;
         text-align: center;
    }
    .talking-paragraph {
         font-size: 18px;
         text-align: center;
         margin-bottom: 18px;
    }
    form input {
         padding: 14px;
         margin-bottom: 12px;
    }
    form button {
        width: 100%;
        padding: 22px;
    }
    .image-section {
        width: 50%;
        justify-content: center;
     }
    .talking-image {
        width: 80%;
        height: auto;
    }
    /* Contact */
    .contact {
        padding: 80px 50px;
    }
    .information-card {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact-card-header {
        font-size: 26px;
    }
    .contact-card-paragraph {
        font-size: 18px;
    }

    /* iframe */
    .map iframe {
        width:100%;
    }

    /* footer */
    .footers {
        padding: 5px 40px; 
    }
    .footers-intro {
        font-size: 18px; 
        text-align: center;
    }
    .footer-theme {
        font-size: 16px; 
    }
}

@media(max-width:480px){
    /* headers */
    nav {
        display: none;
    }
    
    /* banner section */
    .banner{
        padding:60px 20px;
        background-image: url(../images/background_1.jpg);
        background-size: cover;
    }
    .banner-content h1{
        font-size:32px;
        line-height:44px;
    }
    .banner-content p{
        font-size:16px;
    }
    .banner-content a {
        font-size: 16px;
        padding:10px 20px;
    }

    /* card section */
    .service {
        padding: 60px 20px;
    }
    .service-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .service-card-header {
        font-size: 24px;
    }
    .serivce-card-paragraph {
        font-size: 16px;
    }
    /* about-us */
    .about {
        flex-direction: column;
        padding: 40px 20px;
    }
    .image1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-us {
        font-size: 36px;
        text-align: center;
    }
    .about-us-text {
        width: 100%;
        margin-left: 0;
    }
    .about-us-text .contain {
        font-size: 16px;
    }

     /* fectures section */
    .section-features {
        padding: 50px 20px;
    } 

     /* Portfolio  */
    .portfolio-section {
        padding: 50px 20px;
    }

    /* watch the video */
    .video-contain {
        padding: 50px 20px;
    }
    .video-img {
        width: 100%;
    }
    .video-heading {
        font-size: 28px;
    }
    .video-paragraph {
        font-size: 16px;
        text-align: center;
    }
    .videoes-images {
        width: 100%;
    }

    /*  Customer Testimonials */
    .customer-testimonials {
        padding: 50px 20px;
    }
    .customer-review-card {
        width: 100%;
        margin-bottom: 30px;
        height: auto;
    }
    .customer-face {
        width: 90px;
        height: 90px;
        margin-top: 20px;
    }
    .customer-name-handing {
        font-size: 22px;
        margin-top: 20px;
    }
    .review-star {
        font-size: 20px;
    }

      /* talking */
    .talking {
        padding: 80px 40px;
     }
    .form-section {
        width: 100%;
        padding: 15px;
    }
    .talking-headers {
        font-size: 36px;
        text-align: center;
    }
    .talking-paragraph {
        font-size: 18px;
        text-align: center;
        margin-bottom: 18px;
    }
    form input {
        padding: 14px;
        margin-bottom: 12px;
     }
    form button {
        width: 100%;
        padding: 22px;
    }
    .image-section {
        width: 100%;
        justify-content: center;
    }
    .image-section  .talking-image {
        width: 100%;
        height: auto;
    }
    /* Contact */
    .contact {
        padding: 60px 20px;
    }
    .service-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-card-header {
        font-size: 24px;
    }
    .contact-card-paragraph {
        font-size: 16px;
    }
      /* iframe */
      .map iframe {
        width:100%;
    }
     /* footer */
    .footers {
        padding: 5px 20px; 
    }

    .footers-intro {
        font-size: 16px;
        text-align: center; 
    }

    .footer-theme {
        font-size: 14px; 
    }
}