/* Laptops (769px - 1279px) */
@media (min-width: 769px) and (max-width: 1279px) {


  /* banner section */
  .banner {
    padding: 100px 80px;
    background-image: url(../images/background_1.jpg);
    background-position: cover;
  }

  .banner-content h1 {
    font-size: 80px;
    line-height: 90px;
  }

  .banner-content p {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .banner-content a {
    padding: 15px 30px;
    font-size: 20px;
  }

  /* card section */
  .service {
    padding: 100px 80px;
  }

  .service-card {
    width: 45%;
    height: 300px;
    margin-bottom: 30px;
  }



  .service-card-header {
    font-size: 28px;
  }

  .serivce-card-paragraph {
    font-size: 18px;
  }

  /* about-us */
  .about {
    /* flex-direction: row; */
    padding: 75px 100px;
  }

  .image1 {
    width: 50%;
  }

  .about-us-text {
    width: 50%;
    margin-left: 30px;
  }

  .about-us {
    font-size: 48px;
  }

  .about-us-text .contain {
    font-size: 18px;
  }

  /* ideas & plans */
  .professionals {
    padding: 100px 60px;
    flex-direction: row;
  }

  .container {
    align-items: flex-start;
  }

  .professional-heading {
    font-size: 40px;
  }

  .professional-paragrph {
    font-size: 18px;
  }

  .profess-parts-icon {
    font-size: 60px;
  }

  .professional-images {
    width: 50%;
    padding-left: 30px;
  }

  /* fectures section */
  .section-features {
    padding: 100px 60px;
  }

  .fectures-intro {
    text-align: center;
    margin-bottom: 40px;
  }

  .fecture-heading {
    font-size: 40px;
  }

  .fecture-paragraph {
    font-size: 18px;
  }

  .fectures-name {
    height: auto;
    font-size: 20px;
    padding-top: 23px;
    padding-left: 30px;
    margin-top: 20px;
  }

  .fectures-icorn {
    font-size: 34px;
  }

  /* Portfolio  */
  .portfolio-section {
    padding: 100px 60px;
  }

  .portfolio-heading {
    font-size: 40px;
    text-align: center;
  }

  .portfolio-paragraph {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
  }

  .portfolio-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pi-img {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
  }

   /* watch the video */
   .video-contain {
    padding: 100px 60px;
  }

  .video-heading {
    font-size: 40px;
  }

  .video-paragraph {
    font-size: 18px;
    text-align: center;
  }

  .video-img {
    width: 80%;
    margin: 0 auto;
  }

  .videoes-images {
    width: 100%;
    height: auto;
  }

  .play-button {
    font-size: 38px;
    padding: 14px;
  }

  /*  Customer Testimonials */
  .customer-testimonials {
    padding: 80px 60px;
  }

  .customer-handing {
    font-size: 40px;
    text-align: center;
  }

  .customer-paragraph {
    font-size: 18px;
    text-align: center;
  }

  .customer-card-review-row1,
  .customer-card-review-row2 {
    display: flex;
    justify-content: space-between;
  }

  .customer-review-card {
    width: 30%;
    margin-bottom: 30px;
    height: auto;
  }

  .customer-face {
    width: 90px;
    height: 90px;
    margin-top: 30px;
  }

  .customer-name-handing {
    font-size: 24px;
    margin-top: 25px;
  }

  .review-star {
    font-size: 22px;
  }

  /* talking */
  .talking {
    padding: 100px 60px;
  }

  .form-section {
    width: 50%;
    padding: 20px;
  }

  .talking-headers {
    font-size: 40px;
    text-align: center;
  }

  .talking-paragraph {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  form input {
    padding: 16px;
    margin-bottom: 10px;
  }

  form button {
    width: 160px;
    padding: 24px;
  }

  .image-section {
    width: 50%;
    justify-content: center;
  }

  .talking-image {
    width: 90%;
    max-width: 500px;
    height: auto;
  }

  /* Contact */
  .contact {
    padding: 100px 40px;
  }

  .contact-item {
    flex-direction: row;
    justify-content: space-between;
  }

  .information-card {
    width: 30%; 
  }

  .contact-card-header {
    font-size: 28px; 
  }

  .contact-card-paragraph {
    font-size: 19px; 
  }

  /* footer */
  .footers {
    padding: 5px 80px; 
  }

  .footers-intro {
    font-size: 18px; 
    text-align: left; 
  }

  .footer-theme {
    font-size: 18px; 
  }
}

/* Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  
  /* banner section */
  .banner {
    padding: 80px 50px;
    background-attachment: scroll;
    background-image: url(../images/background_1.jpg);
    background-position: cover;
  }

  .banner-content h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .banner-content p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 25px;
  }

  .banner-content a {
    padding: 12px 25px;
    font-size: 18px;
  }

  /* card section */
  .service {
    padding: 80px 50px;
  }

  .service-card {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .service-card-header {
    font-size: 26px;
  }

  .serivce-card-paragraph {
    font-size: 18px;
  }

  /* about-us */
  .about {
    flex-direction: column;
    padding: 60px 40px;
  }

  .image1 {
    width: 100%;
    margin-bottom: 30px;
  }

  .about-us {
    font-size: 40px;
    text-align: center;
  }

  .about-us-text {
    width: 100%;
    margin-left: 0;
  }

  .about-us-text .contain {
    font-size: 18px;
  }
  
  /* ideas & plans */
  .professionals {
    padding: 80px 40px;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .professional-heading {
    font-size: 36px;
  }

  .professional-paragrph {
    font-size: 18px;
  }

  .profess-parts {
    flex-direction: column;
    align-items: center;
  }

  .profess-parts-icon {
    font-size: 60px;
  }

  .professional-images {
    width: 100%;
    margin-top: 30px;
  }

  /* fectures section */
    .section-features {
    padding: 80px 40px;
  }

  .fectures-intro {
    text-align: center;
    margin-bottom: 40px;
  }

  .fecture-heading {
    font-size: 36px;
  }

  .fecture-paragraph {
    font-size: 18px;
  }

  .fectures-name {
    height: auto;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 25px;
    margin-top: 20px;
  }

  .fectures-icorn {
    font-size: 32px;
  }

  /* Portfolio  */
  .portfolio-section {
    padding: 80px 40px;
  }

  .portfolio-heading {
    font-size: 36px;
    text-align: center;
  }

  .portfolio-paragraph {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
  }

  .portfolio-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pi-img {
    width: 45%;
    height: auto;
    margin-bottom: 20px;
  }

   /* watch the video */
   .video-contain {
    padding: 80px 40px;
  }

  .video-heading {
    font-size: 36px;
  }

  .video-paragraph {
    font-size: 18px;
    text-align: center;
  }

  .video-img {
    width: 100%;
    margin: 0 auto;
  }

  .videoes-images {
    width: 100%;
    height: auto;
  }

  .play-button {
    font-size: 35px;
    padding: 12px;
  }

  /*  Customer Testimonials */
  .customer-testimonials {
    padding: 70px 40px;
  }

  .customer-handing {
    font-size: 36px;
    text-align: center;
  }

  .customer-paragraph {
    font-size: 18px;
    text-align: center;
  }

  .customer-card-review-row1,
  .customer-card-review-row2 {
    display: flex;
    justify-content: space-around;
  }

  .customer-review-card {
    width: 48%;
    margin-bottom: 30px;
    height: auto;
  }

  .customer-face {
    width: 90px;
    height: 90px;
    margin-top: 20px;
  }

  .customer-name-handing {
    font-size: 24px;
    margin-top: 25px;
  }

  .review-star {
    font-size: 22px;
  }

  /* talking */
  .talking {
    padding: 80px 40px;
  }

  .form-section {
    width: 50%;
    padding: 15px;
  }

  .talking-headers {
    font-size: 36px;
    text-align: center;
  }

  .talking-paragraph {
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
  }

  form input {
    padding: 14px;
    margin-bottom: 12px;
  }

  form button {
    width: 100%;
    padding: 22px;
  }

  .image-section {
    width: 50%;
    justify-content: center;
  }

  .talking-image {
    width: 80%;
    height: auto;
  }

  
/* Contact */
  .contact {
    padding: 80px 30px; 
  }

  .contact-item {
    flex-direction: row;
    justify-content: space-around;
  }

 .information-card {
    width: 45%; 
    margin: 10px 0;
  }

  .contact-card-header {
    font-size: 26px; 
  }

  .contact-card-paragraph {
    font-size: 18px;
  }

  /* footer */
  .footers {
    padding: 5px 40px; 
  }

  .footers-intro {
    font-size: 18px; 
    text-align: center;
  }

  .footer-theme {
    font-size: 16px; 
  }
}


/* Small Phones (0 - 480px) */
@media (max-width: 480px) {
  /* banner section */
  .banner {
    padding: 60px 20px;
    background-attachment: scroll;
    background-image: url(../images/background_1.jpg);
    background-position: cover;
  }

  .banner-content h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .banner-content p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .banner-content a {
    padding: 10px 20px;
    font-size: 16px;
  }
  /* card section */
  .service {
    padding: 60px 20px;
  }

  .service-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .service-card-header {
    font-size: 24px;
  }

  .serivce-card-paragraph {
    font-size: 16px;
  }

  /* about-us */
  .about {
    flex-direction: column;
    padding: 40px 20px;
  }

  .image1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-us {
    font-size: 36px;
    text-align: center;
  }

  .about-us-text {
    width: 100%;
    margin-left: 0;
  }

  .about-us-text .contain {
    font-size: 16px;
  }

  /* ideas&plans */
  .professionals {
    padding: 50px 20px;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .professional-heading {
    font-size: 32px;
    text-align: center;
  }

  .professional-paragrph {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
  }

  .profess-parts {
    flex-direction: column;
    align-items: center;
  }

  .profess-parts-icon {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .ideas-heading {
    font-size: 20px;
    text-align: center;
  }

  .ideas-paragrph {
    font-size: 16px;
    text-align: center;
  }

  .professional-images {
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
  }

  /* fectures section */
  .section-features {
    padding: 50px 20px;
  }

  .fectures-intro {
    text-align: center;
    margin-bottom: 30px;
  }

  .fecture-heading {
    font-size: 32px;
    text-align: center;
  }

  .fecture-paragraph {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
  }

  .fectures-name {
    height: auto;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 15px;
  }

  .fectures-icorn {
    font-size: 30px;
  }

  /* Portfolio  */
  .portfolio-section {
    padding: 50px 20px;
  }

  .portfolio-heading {
    font-size: 32px;
    text-align: center;
  }

  .portfolio-paragraph {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }

  .portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pi-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  /* watch the video */
  .video-contain {
    padding: 50px 20px;
  }

  .video-heading {
    font-size: 28px;
  }

  .video-paragraph {
    font-size: 16px;
    text-align: center;
  }

  .video-img {
    width: 100%;
    margin: 0 auto;
  }

  .videoes-images {
    width: 100%;
    height: auto;
  }

  .play-button {
    font-size: 30px;
    padding: 10px;
  }

  /*  Customer Testimonials */
  .customer-testimonials {
    padding: 50px 20px;
  }

  .customer-handing {
    font-size: 28px;
    text-align: center;
  }

  .customer-paragraph {
    font-size: 16px;
    text-align: center;
  }

  .customer-card-review-row1,
  .customer-card-review-row2 {
    display: block;
    padding: 0;
  }

  .customer-review-card {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
  }

  .customer-face {
    width: 80px;
    height: 80px;
    margin-top: 20px;
  }

  .customer-name-handing {
    font-size: 22px;
    margin-top: 20px;
  }

  .review-star {
    font-size: 20px;
  }

  /* talking */
  .talking {
    padding: 50px 20px;
  }

  .form-section {
    width: 100%;
    padding: 10px;
  }

  .talking-headers {
    font-size: 28px;
    text-align: center;
  }

  .talking-paragraph {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
  }

  form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
  }

  form button {
    width: 100%;
    padding: 20px;
    font-size: 16px;
  }

  .image-section {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }

  .talking-image {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  
/* Contact */
  .contact {
    padding: 60px 20px; 
  }

  .contact-item {
    flex-direction: column; 
    align-items: center;
    margin-bottom: 40px;
  }

  .information-card {
   width: 80%; 
    margin: 15px 0;
  }

  .contact-card-header {
    font-size: 24px; 
  }

  .contact-card-paragraph {
    font-size: 18px; 
  }

  /* footer */
  .footers {
    padding: 5px 20px; 
  }

  .footers-intro {
    font-size: 16px;
    text-align: center; 
  }

  .footer-theme {
    font-size: 14px; 
  }
}